DEBUG=True
SECRET_KEY=your-secret-key-here
DB_NAME=inpar_db
DB_USER=inpar_user
DB_PASSWORD=inpar_pass
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
USD_TO_KZT_RATE=460